.section {
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 63px;
}

@media (min-width: 1024px) {
    .section {
        gap: 8rem;
    }
}

.introduce {
    font-family: 'JalnanGothic', sans-serif;
}

.info-graphic {
    background-image: url('../../assets/images/MainGraphic.jpg');
    background-position: center;
    background-size: cover;
}

@keyframes pulse {
    50% {
        opacity: .6;
    }
}
.ani-pulse {
    animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.speech-bubble {
    display: none;
    position: relative;
    width: fit-content;
    padding: 8px;
    left: 43.5px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #333;
    color: #fff;
    font-size: 14px;
}

.speech-bubble:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border: solid transparent;
    border-color: rgba(51, 51, 51, 0);
    border-bottom-color: #333;
    border-width: 10px;
    pointer-events: none;
    content: ' ';
}
  
.developer-box:hover + p.speech-bubble {
    display: block;
}